@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
    font-size: 14px ;
}


.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: justify;
}

.yourCart {
    font-size: 30px !important;
    font-weight: 900;
}

.product-title {
    font-size: 30px !important;
}

.productCard {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important; */
    border-radius: 20px !important;
}

.subTotalCard {
    padding: 10px;
    /* border: 1px solid lightgray !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important; */
    /* border-radius: 20px !important; */
    position: sticky !important;
    bottom: 0px;
    z-index: 10;
}

.icon-font {
    font-size: 30px !important;
}

@media (min-width: 768px) {
    .removeBtn {
        width: 100% !important;
    }
}